
@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Money Manager</h1>
@if (Session["UserID"] != null)
{
    <h2>Welcome Back, @Session["Name"].ToString()!</h2>
    <br />

    <h4 style="font-weight: bold">Total Balance: </h4>
    @ViewBag.TB
    <h4 style="font-weight: bold">Total Expenses: </h4>
    @ViewBag.TE
    <div class="clearfix">
        <div class="pull-left">
            <h4 style="font-weight: bold">Total: </h4>
            @ViewBag.T2
        </div>
        <div class="pull-right">
            <h4 style="font-weight: bold">Current Date </h4>
            @ViewBag.Time
        </div>
    </div>

}
