@model DataLibrary.Models.User

@{
    ViewBag.Title = "User Profile";
}

<div>
    <h1>User Profile</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label style="font-size: 20px"> @Html.DisplayNameFor(model => model.Name)</label>
        </dt>

        <dd>
            <p style="font-size: 20px">@Html.DisplayFor(model => model.Name)</p>
        </dd>

        <dt>
            <label style="font-size: 20px"> @Html.DisplayNameFor(model => model.PhoneNumber)</label>
        </dt>

        <dd>
            <p style="font-size: 20px"> @Html.DisplayFor(model => model.PhoneNumber)</p>
        </dd>

        <dt>
            <label style="font-size: 20px"> @Html.DisplayNameFor(model => model.Email)</label>
        </dt>

        <dd>
            <p style="font-size: 20px"> @Html.DisplayFor(model => model.Email)</p>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditUserProfile", new { UserID = Model.UserID })
</p>
