@model IEnumerable<MoneyManager.Models.ExpensesS>

<p>
    @Html.ActionLink("Add Expenses", "AddExpenses")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpensesDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalExpenses)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpensesDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExpenses)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateExpenses", new { ExpensesID = item.ExpensesID }) |
                @Html.ActionLink("Delete", "RemoveExpenses", new { ExpensesID = item.ExpensesID })
            </td>
        </tr>
    }
</table>

<h4>Total Expenses</h4>
<div>
    @Model.Sum(i => i.TotalExpenses)
</div>