@model IEnumerable<MoneyManager.Models.BalanceS>

@{
    ViewBag.Title = "View Balance";
}

<h1>View Balance</h1>

<p>
    @Html.ActionLink("Add Balance", "AddBalance")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotalBalance)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalBalance)
            </td>
            <td>
                @Html.ActionLink("Delete", "RemoveBalance", new { BalanceID = item.BalanceID })
            </td>
        </tr>
    }
</table>

<h4>Total Balance</h4>
<div>

    @Model.Sum(i => i.TotalBalance)
</div>
